.form {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: max-content;
    width: 200px;
}
.inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.inputs span {
    color: red;
}