.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 20vw;
    height: 65vh;
    background-color: white;
    
}

.img {
    justify-content: center;
    margin-top: 10px;
    height: 30vh;
    width: 20vw;
    border-radius: 15px;
}

.name {
    margin-top: 0em;
}

.dietList {
    margin-top: 0em;
}

.dietList:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-right: 20px;
}

.diet {
    margin-top: 0em;
    margin-right: 20px;
}